@page "/"
@inject IJSRuntime js
<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Welcome to <span class="text-black">Sughd Auto Dashboard</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h1>Hello!</h1>
            </div>
        </div>
    </div>
</div>