@page "/"
@inject IJSRuntime js
<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder text-center m-4">Welcome to <span class="text-black">Sughd Auto Dashboard</span></h2>
    </div>
    <div class="col-12">
        
    </div>
</div>