@page "/"
@inject IJSRuntime js
<PageTitle>Home</PageTitle>

<div class="row">
    <div class="col-12">
        <h2 class="fw-bolder">Hello to <span class="text-black">Sughd Auto Dashboard</span></h2>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <span> Вы не вошли в систему. Пожалуйста <a class="fw-bolder" href="/login">Click</a>Вход</span>
                    </NotAuthorized>
                    <Authorized>
                        <span>Вошёл как <b>Привет,@context.User.Identity.Name</b>.<a class="fw-bolder" href="/logout">Нажмите</a>Выход</span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
</div>